Repository micronaut-projects/micronaut-security, pull requests merged in 2023-01, with the labels that each got.

#1191 Move to Geb 7 for Groovy 4 support
  gradle/libs.versions.toml
  test-suite-geb/build.gradle.kts
Labels: relates-to: build

#1202 fix: multiple possible candidates for DefaultOpenIdProviderMetadata
  security-oauth2/src/main/java/io/micronaut/security/oauth2/client/DefaultOpenIdClient.java
  security-oauth2/src/test/groovy/io/micronaut/security/oauth2/client/DefaultOpenIdClientSpec.groovy
Labels: type: bug

#1200 ci: add GH_TOKEN_PUBLIC_REPOS_READONLY and GH_USERNAME env. variables to workflows
  .github/workflows/graalvm.yml
  .github/workflows/gradle.yml
  .github/workflows/release.yml
Labels: relates-to: build

#1204 build: update to 5.4.0 and sync workflows
  .github/workflows/graalvm.yml
  .github/workflows/gradle.yml
  .github/workflows/release.yml
  settings.gradle
Labels: relates-to: build

#1207 Fix reflective access introspection response
  security/src/main/java/io/micronaut/security/endpoints/introspection/IntrospectionResponse.java
  test-suite-graal/src/test/java/io/micronaut/security/graal/IntrospectionResponseTest.java
Labels: relates-to: graal

#1206 Issue 1203 - update docs to use configuration snippets
  .github/workflows/graalvm.yml
  security-jwt/src/test/groovy/io/micronaut/docs/base64/JwtBase64Spec.groovy
  security-jwt/src/test/groovy/io/micronaut/docs/signandencrypt/SignSecretEncryptRSASpec.groovy
  security/src/test/groovy/io/micronaut/docs/security/securityRule/builtinendpoints/BuiltInEndpointsSpec.groovy
  security/src/test/groovy/io/micronaut/docs/security/securityRule/intercepturlmap/InterceptUrlMapSpec.groovy
  src/main/docs/guide/authenticationStrategies/jwt/jwtEncryption/jwtGeneratorEncryption.adoc
  src/main/docs/guide/authenticationStrategies/jwt/jwtGenerator/jwtGeneratorSecret.adoc
  src/main/docs/guide/authenticationStrategies/jwt/jwtValidation/jwks.adoc
  src/main/docs/guide/authenticationStrategies/session.adoc
  src/main/docs/guide/authenticationStrategies/x509.adoc
  src/main/docs/guide/endpoints/refresh.adoc
  src/main/docs/guide/introduction.adoc
  src/main/docs/guide/oauth.adoc
  src/main/docs/guide/oauth/flows/authorization-code/oauth2-authorization-code/oauth2-configuration.adoc
  src/main/docs/guide/oauth/flows/authorization-code/openid-authorization-code/openid-auth-parameters/nonce.adoc
  src/main/docs/guide/oauth/flows/authorization-code/openid-authorization-code/openid-configuration.adoc
  src/main/docs/guide/oauth/flows/authorization-code/state.adoc
  src/main/docs/guide/oauth/flows/clientcredentials.adoc
  src/main/docs/guide/oauth/flows/clientcredentials/clientecredentialshttpclient.adoc
  src/main/docs/guide/oauth/flows/password.adoc
  src/main/docs/guide/securityRule/builtInEndpointsAccess.adoc
  src/main/docs/guide/securityRule/interceptUrlMap.adoc
  src/main/docs/guide/securityRule/ipPattern.adoc
  src/main/docs/guide/tokenPropagation.adoc
Labels: type: docs
